<form  #f="ngForm" (ngSubmit)="SerchPrice(f)">
<div class="row">
   
  <div class="col-md-4">
    <label for="">Select Commudity</label>
  </div>
  <div class="col-md-4">
    <select name="drpcommudity" id="drpcommudity" class="form-control"  [(ngModel)]="drpcommudity" #ctrl="ngModel" required >
     
      <option  *ngFor="let c of _itemlist">{{c}}</option>
    </select>
   
  </div>
  
  <div class="col-md-4">
    <!-- <input type="submit" class="btn btn-success" value="Serach Price"> -->
    <input type="button" class="btn btn-success" value="Serach Price" (click)="SerachPricebyCommuidy(ctrl.value)" >
  </div>
   
</div>
<div class="row">
<div class="form-group col-md-4">
  <div class="input-group">
      <div class="input-group-addon"><i class="glyphicon glyphicon-search"></i></div>
      <input type="text" class="form-control" name="searchString" placeholder="Type to search..." [(ngModel)]="searchString">
  </div>
</div>
</div>

<div class="row">
  <div class="col-md-10">
    <table class="table table-bordered table-responsive"   [mfData]="_itemResult" #mf="mfDataTable" >
      <thead>
        <tr>
          <th>Sl No</th>
          <th>
              <mfDefaultSorter by="state">State</mfDefaultSorter>
            </th>
             <th>
                <mfDefaultSorter by="district">District</mfDefaultSorter></th>
          <th>
              <mfDefaultSorter by="market">Market</mfDefaultSorter></th>
          <th>
              <mfDefaultSorter by="variety">
            Variety
              </mfDefaultSorter>
          </th>
          <th>
              <mfDefaultSorter by="arrival_date">Price Date</mfDefaultSorter>
            </th>
          <th>
              <mfDefaultSorter by="min_price">Min Price</mfDefaultSorter></th>
          <th><mfDefaultSorter by="max_price"> Max Price</mfDefaultSorter>
           </th>
          <th><mfDefaultSorter by="modal_price">
            Model Price</mfDefaultSorter></th>
          
        </tr>
      </thead>
      <tbody>

        <tr  *ngFor="let item of mf.data | filter : 'state' : searchString;let i=index">
          <td>{{(i+1)}}</td>
          <td>{{item.state}}</td>
          <td>{{item.district}}</td>
          <td>{{item.market}}</td>
          <td>{{item.variety}}</td>
          <td>{{item.arrival_date}}</td>
          <!-- <td *ngIf="item.min_price>item.modal_price?ngClass=red:ngClass=green">{{item.min_price | currency:'INR':true:'1.2-2'}}</td> -->
          <td [class.isactive]="item.min_price>item.modal_price" >{{item.min_price | currency:'INR':true:'1.2'}}</td>
          <td >{{item.max_price | currency:'INR':true:'1.2'}}</td>
          <td>{{item.modal_price | currency:'INR':true:'1.2'}}</td>
        </tr>
     
      </tbody>
      <tfoot>
          <tr>
              <td colspan="9" align="right">
                  <mfBootstrapPaginator></mfBootstrapPaginator>
              </td>
          </tr>
       </tfoot>
    </table>
  </div>
</div>
</form>